# Basics 
- variable
- input 
- output

In [6]:
2+5

7

In [7]:
x=1.9

In [11]:
name=input()

In [12]:
a=[1,2,3,4]
b={'name':'raju','age':12}

In [13]:
x

1.9

In [14]:
input

In [18]:
input("ENTER A NAME")
city=input("enter your city ")
fav_color=input("enter your fav colour")

In [23]:
num1=(int)(input("enter a number"))
num1=num1*5
print(num1)

225

## DISPLAY

In [1]:
print('WELCOME TO DISPLAYING DATA')  # static message to display

WELCOME TO DISPLAYING DATA

In [2]:
a='ALex'
b='Baron'
print(a) #displaying a
print(b) #displaying b

ALex
Baron

In [3]:
name=input('Enter your name')
print('your name is,',name)

your name is, krish

In [5]:
num1=input('enter a number')
num2=input('enter a another number ')
print(num1,'and 'num2)

%d and %d 4 5

'display data with message'

1. comma seperator
2. format string
3. format method
4.  string concatenation
5. f string

In [11]:
a,b,c= 5,3.2,"Hello"  #multiple assignment
print("the values are %d,%.2f,%s"%(a,b,c)) 
print("the values are %s,%d,%.2f"%(a,b,c)) 
print("the values are %s,%s,%s"%(a,b,c))

the values are 5,3.20,Hello

TypeError: must be real number, not str

In [13]:
# format method
print('the value of a={}, b-{},c={}'.format(a,b,c))
print('the value of a={2}, b-{1},c={0}'.format(a,b,c))

the value of a=5, b-3.2,c=Hello
the value of a=Hello, b-3.2,c=5

In [21]:
# string concatenation
print('HELLO'+' '+'WORLD')
print('the value of a =' + str(a)) # type casting since a is accepted as integer

print('the value of a ='+ str(a)+'\nthe value of b= '+str(b)+' \n and c is =  '+c)

HELLO WORLD
the value of a =5
the value of a =5
the value of b= 3.2
 and c is =  Hello

In [23]:
# fstring
print(f'the value of a={a}, b-{b},c={c}')

the value of a=5, b-3.2,c=Hello

# fstring Setting

In [25]:
a,b=10,3
a/b
print(f'{a}/{b}= {a/b:.2f}')

10/3= 3.33

In [29]:
# alignment
name='Alex'
print(f'You\'re {name}')
print(f'You are {name:10}')
print(f'You are {name:>10}')
print(f'You are {name:<10}')
print(f'You are {name:^10}')

You're Alex
You are Alex
You are       Alex
You are Alex
You are    Alex

In [30]:
a='🍎APPLE'
b='🍌BANANA'
c='🍒CHERRY'
d='🍈durian'
print(f'fruit 1: {a:>10}')
print(f'fruit 2: {b:>10}')
print(f'fruit 3: {c:>10}')
print(f'fruit 4: {d:>10}')

fruit 1:     🍎APPLE
fruit 2:    🍌BANANA
fruit 3:    🍒CHERRY
fruit 4:    🍈durian

In [31]:
import random

print(random.randint(1,6))

5