# Basics 
- variable
- input 
- output

In [1]:
2+5

7

In [2]:
x=1.9

In [3]:
name=input()

In [4]:
a=[1,2,3,4]
b={'name':'raju','age':12}

In [5]:
x

1.9

In [6]:
input

In [7]:
input("ENTER A NAME")
city=input("enter your city ")
fav_color=input("enter your fav colour")

In [8]:
num1=(int)(input("enter a number"))
num1=num1*5
print(num1)

440

## DISPLAY

In [9]:
print('WELCOME TO DISPLAYING DATA')  # static message to display

WELCOME TO DISPLAYING DATA

In [10]:
a='ALex'
b='Baron'
print(a) #displaying a
print(b) #displaying b

ALex
Baron

In [11]:
name=input('Enter your name')
print('your name is,',name)

your name is, bh

In [29]:
num1=input('enter a number')
num2=input('enter a another number ')
print(num1,'and ',num2)

5 and  5

'display data with message'

1. comma seperator
2. format string
3. format method
4.  string concatenation
5. f string

In [30]:
a,b,c= 5,3.2,"Hello"  #multiple assignment
print("the values are %d,%.2f,%s"%(a,b,c)) 
print("the values are %s,%d,%s"%(a,b,c)) 
print("the values are %s,%s,%s"%(a,b,c))

the values are 5,3.20,Hello
the values are 5,3,Hello
the values are 5,3.2,Hello

In [ ]:
# format method
print('the value of a={}, b-{},c={}'.format(a,b,c))
print('the value of a={2}, b-{1},c={0}'.format(a,b,c))

the value of a=5, b-3.2,c=Hello
the value of a=Hello, b-3.2,c=5

In [ ]:
# string concatenation
print('HELLO'+' '+'WORLD')
print('the value of a =' + str(a)) # type casting since a is accepted as integer

print('the value of a ='+ str(a)+'\nthe value of b= '+str(b)+' \n and c is =  '+c)

HELLO WORLD
the value of a =5
the value of a =5
the value of b= 3.2
 and c is =  Hello

In [ ]:
# fstring
print(f'the value of a={a}, b-{b},c={c}')

the value of a=5, b-3.2,c=Hello

# fstring Setting

In [ ]:
a,b=10,3
a/b
print(f'{a}/{b}= {a/b:.2f}')

10/3= 3.33

In [ ]:
# alignment
name='Alex'
print(f'You\'re {name}')
print(f'You are {name:10}')
print(f'You are {name:>10}')
print(f'You are {name:<10}')
print(f'You are {name:^10}')

You're Alex
You are Alex
You are       Alex
You are Alex
You are    Alex

In [ ]:
a='🍎APPLE'
b='🍌BANANA'
c='🍒CHERRY'
d='🍈durian'
print(f'fruit 1: {a:>10}')
print(f'fruit 2: {b:>10}')
print(f'fruit 3: {c:>10}')
print(f'fruit 4: {d:>10}')

fruit 1:     🍎APPLE
fruit 2:    🍌BANANA
fruit 3:    🍒CHERRY
fruit 4:    🍈durian

In [13]:
import random

print(random.randint(1,6))

2

# operators

In [19]:
x=5
y=6
print(x>y)
print(x==y)
print(x<y)
print(x<=y)
print(x>=y)
print(x!=y)

False
False
True
True
False
True

In [20]:
x+10>y-5

True

In [23]:
import time
x>y and x<100
time.sleep(9)

In [24]:
x>y and x>100 #this will not be displayed
x>15 and x>10

False

In [26]:
fruits= ['apple',"b","cherry",'date','elderberry']
print('cherry' in fruits)
print('banana' in fruits)
print('apple' in fruits)
print('date' in fruits)

True
False
True
True
<class 'list'>

In [28]:
f=fruits # f is a reference to fruits
print(f is fruits)
f2=fruits.copy()
print(f2 is fruits)

True
False

# type casting

In [32]:
x=10
xf=10.0
print(type(x),type(xf))
print(isinstance(x,int))
print(isinstance(xf,float))
print(isinstance(xf,str))
print(isinstance(xf,(int,float)))

<class 'int'> <class 'float'>
True
True
False

In [33]:
int('20a')

ValueError: invalid literal for int() with base 10: '20a'

In [34]:
ord('a') # returns the  UNICODE value of a character

97

In [35]:
print(chr(97)) # RETurns the character of a unicode value

a

In [38]:
x=int(input("enter a number"))
y=int(input("enter another number"))
print(x+y)

124