 list                                 tuple                  set                    dictionary

indexed             indexed                 unindexed                indexed 

ordered             ordered                 unordered                ordered

mutable            immutable                  mutable                mutable

hetrogeneous       hetrogeneous            hetrogeneous            hetrogeneous

have duplicates    have duplicates        no duplicates           have duplicates

just values        just values           just values              key value pair

[]                   ()                       {}                       {}

list()              tuple()                 set()                     dict()

## list methods(11)
- adding/updating
    - `append`
    - `extend`
    - `insert`
- removing/deleting
    - `remove()`
    - `pop()`
    - `clear()`
- utility
    - `sort()`
    - `reverse()`
    - `index()`
    - `count()`
    - `copy()`

In [1]:
numbers=[12,3,4,64,64,75,57,7,57,757]
a=numbers[::-1]

In [2]:
numbers.reverse()

In [3]:
print(numbers)

[757, 57, 7, 57, 75, 64, 64, 4, 3, 12]

In [9]:
numbers.sort()
print(numbers)
(numbers.sort(reverse=True))
numbers

[3, 4, 7, 12, 57, 57, 64, 64, 75, 757]

[757, 75, 64, 64, 57, 57, 12, 7, 4, 3]

In [11]:
x=[[1,12],[2,5],[5,10],[4,15]]
x.sort()
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [16]:
x.sort(key=lambda e: e[1])#  key is a function
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [18]:
x.sort(key=lambda i: sum(i))#  key is a function
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [20]:
users=[('alice',25),('bob',19),('alex',35)]
users.sort(key= lambda x:x[1])
print(users)

[('bob', 19), ('alice', 25), ('alex', 35)]

In [24]:
cart=[
    ['monile',25000,2],
   [ 'laptop',60000,1],
    ['watch',3000,3],
    ['headphones',1500,2]
    ]
cart.sort(key= lambda x:x[2])
cart.sort(key= lambda x:x[2]*x[1])
print(cart)

[['laptop', 60000, 1], ['monile', 25000, 2], ['headphones', 1500, 2], ['watch', 3000, 3]]

In [27]:
a=[1,2,3,4,3,1,313,1,4,2]
print(a.count(1))
print("4 occurs",a.count(4))

3
4 occurs 2

In [28]:
numbers.index(57)

4

In [35]:
# is = identity opertator
a=[1,2,3,4,5]
b=a.copy()  
c=a
print(a)
print(b)
print(c)
print (hex(id(a)))
print (hex(id(b)))
print (hex(id(c)))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
0x2266b2cff00
0x2266b364e00
0x2266b2cff00

# tuples
- creating
- indexing and slicing
- methods
- packing and unpacking

In [6]:
x=()
y=(1,)
z=(1,2,3,4,5)
print(x,y,z)
a=((1,2),(3,4),(5,6))
b=('a',1,'b',2,'c')
print(a)
print(b)
c=(1,)
print(c)
d=tuple('grunt face')
print(d)
e=tuple(range(10))
print(e)

() (1,) (1, 2, 3, 4, 5)
((1, 2), (3, 4), (5, 6))
('a', 1, 'b', 2, 'c')
(1,)
('g', 'r', 'u', 'n', 't', ' ', 'f', 'a', 'c', 'e')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
e[4::-1]

(4, 3, 2, 1, 0)

In [11]:
# index(search) and count methods
fruits=('apple','banana','cherry','apple','cherry')
print(fruits.index('apple'))
print(fruits.index('apple',1))
print(fruits.count('banana'))
print(fruits.count('cherry'))
print(fruits.count('mango'))

0
3
1
2
0

In [12]:
x=1,2,3# tupple packing
print(x)

(1, 2, 3)

In [22]:
def stats(*data):
    total=sum(data)
    avg=total/len(data)
    
    return total,round(avg,3)

In [23]:
s=stats(12,35,35,642,86,3)
print(s)

(813, 135.5)

In [ ]:
a,b=12,45 #tupple unpacking
print(a,b)

In [24]:
#a,b,c=12,45 # error
#a,b=12,45,34

In [26]:
a,b,*c=(1,2,3,4,5,5,5,5)
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 5, 5, 5]

In [27]:
a,*b,c=(1,2,3,4,5,5,5,5)
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 5, 5]
5

In [28]:
*a,*b,*c=(1,2,3,4,5,5,5,5)
print(a)
print(b)
print(c)

SyntaxError: multiple starred expressions in assignment (308430269.py, line 1)

In [31]:
a,*b,c=(1,2)
print(a)
print(b)
print(c)

1
[]
2

In [34]:
x={} # dictionary
x=set()
y={1,23,342,24} # set with multiple elements
z={1,2,2,3,3,4,4,4}
print(z)

{1, 2, 3, 4}

In [46]:
a=set('hello')
print(a)

{'h', 'e', 'o', 'l'}

In [49]:
b=set([23,24,2,425,55424,242,21,])
print(b)
c=set(range(10))
for i in c:
    print(i,end=' ')
print(c)

{55424, 2, 425, 242, 21, 23, 24}
0 1 2 3 4 5 6 7 8 9 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [50]:
data=set()
data.add(5)

In [51]:
data.update([24,24,2,24,2,442])
print(data)

{24, 442, 2, 5}

In [52]:
data.discard(23)
data.remove(24) #remove element (error if not present)
print(data)

{442, 2, 5}

In [67]:
data.pop()
print(data)
data.clear()
print(data)

KeyError: 'pop from an empty set'

In [70]:
# Operation
a={1,2,3,4,5}
b={4,5,6,7,8}
c={11,12,13}
print(a.union(b))
print(a | b)  # | is union operator

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
print(a.intersection(b))
print(a&b ) # & is intersection operator

{4, 5}
{4, 5}

In [68]:
print(a.difference(b))
print(a-b)
print(b-a)

{'h', 'e', 'o', 'l'}
{'h', 'e', 'o', 'l'}
{55424, 2, 425, 242, 21, 23, 24}

In [ ]:
print(a.symmetric_difference(b))
print(a^b) # ^ is symmetric difference operator

In [73]:
d={1,2,3}
print(a.issuperset(b))
print(a.issuperset(c))
print(a.issuperset(d))

False
False
True

In [74]:
print(d.issubset(a))
print(d.issubset(b))
print(d.issubset(c))

True
False
False

In [75]:
print(a.isdisjoint(b))
print(a.isdisjoint(c))
print(a.isdisjoint(d))

False
True
False

# conversion

In [76]:
a=[1,2,3,4,5]
a_set=set(a)
a_tuple=tuple(a)
print(a)
print(a_set)
print(a_tuple)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)

In [77]:
x=[1,2,2,3,3,3,3,4,4,4,5,5,5,5,5,]
x=list(set(x))
print(x)

[1, 2, 3, 4, 5]

# dictionarty
- creation
- traversal
- method
- sorting
- comprehension

syntax
{
     key:value,
     key:value,
     key:value,

}

In [3]:
fruits={
    'apple': 'red',
    'banana':'yellow',
    'cherry':'red',
    'orange': 'orange'
}
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange'}

In [4]:
temp={
    'lucknow':[25,30,35],
    'delhi' :[30,35,40],
    'chennai' :[24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [5]:
dict(name='raju',age=25,marks=[56,73,67])

{'name': 'raju', 'age': 25, 'marks': [56, 73, 67]}

In [7]:
report={
    'Alex':{
        'english':85,
        'maths':50
    },
    'Rahul':{
        'english':80,
        'maths':85
    }
      }
print(report)

{'Alex': {'english': 85, 'maths': 50}, 'Rahul': {'english': 80, 'maths': 85}}

In [9]:
from pprint import pp # pretty print

In [10]:
pp(report)

{'Alex': {'english': 85, 'maths': 50}, 'Rahul': {'english': 80, 'maths': 85}}

In [11]:
fruits['banana']

'yellow'

In [12]:
temp['lucknow']

[25, 30, 35]

In [13]:
report['Alex']['maths']

50

In [15]:
print('avg temp of delhi',sum(temp['delhi'])/len(temp['delhi']))

avg temp of delhi 35.0

In [17]:
# all keys of dictionary
print(fruits.keys())
print(temp.keys())

dict_keys(['apple', 'banana', 'cherry', 'orange'])
dict_keys(['lucknow', 'delhi', 'chennai'])

In [21]:
feruit_names=list(fruits.values())
feruit_names

['red', 'yellow', 'red', 'orange']

In [19]:
print(fruits.values())
print(report.values())

dict_values(['red', 'yellow', 'red', 'orange'])
dict_values([{'english': 85, 'maths': 50}, {'english': 80, 'maths': 85}])

In [22]:
# traverse through keys
for item in fruits:
    print(item)

apple
banana
cherry
orange

In [23]:
for key in fruits:
    print(fruits[key])

red
yellow
red
orange

In [25]:
for key,values in fruits.items():
    print(key,values)

apple red
banana yellow
cherry red
orange orange

In [26]:
# traverse only values
for v in fruits.values():
    print(v)

red
yellow
red
orange

In [29]:
# total marks of all students
for student,marks in report.items():
    print(student)
    for subject,mark in marks.items():
        print("-->",subject,mark)
    print("--> Total Marks",sum(marks.values()))

Alex
--> english 85
--> maths 50
--> Total Marks 135
Rahul
--> english 80
--> maths 85
--> Total Marks 165

In [31]:
fruits['apple']='yellow'
fruits['banana']='orange'
pp(fruits)

{'apple': 'yellow', 'banana': 'orange', 'cherry': 'red', 'orange': 'orange'}

In [32]:
# adding small dictionary to a big dictionary
dry_fruits={'Date':'Brown','Almond':'bROWN','Cashew':'White'}
fruits.update(dry_fruits)
pp(fruits)

{'apple': 'yellow',
 'banana': 'orange',
 'cherry': 'red',
 'orange': 'orange',
 'Date': 'Brown',
 'Almond': 'bROWN',
 'Cashew': 'White'}

In [36]:
# fruits('Raisin')
# get method 
print(fruits.get('raisin','no value found')) # , default value
print(fruits.get('date'))
print(fruits.get('Date'))
print(fruits.get('banana'))

no value found
None
Brown
orange

In [37]:
# remove
fruits.pop('banana')

'orange'

In [38]:
pp(fruits)

{'apple': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'Date': 'Brown',
 'Almond': 'bROWN',
 'Cashew': 'White'}

In [43]:
# sorting on keys
sorted(fruits.items()) # list of tupple
dict(sorted(fruits.items(),key=lambda i: i[1],reverse=True))

{'apple': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'Almond': 'bROWN',
 'Cashew': 'White',
 'Date': 'Brown'}

In [44]:
clean_fruits={}
for k,v in fruits.items():
    clean_fruits[k.lower()]=v.upper()
pp(clean_fruits)

{'apple': 'YELLOW',
 'cherry': 'RED',
 'orange': 'ORANGE',
 'date': 'BROWN',
 'almond': 'BROWN',
 'cashew': 'WHITE'}

In [46]:
clean_fruits={k.lower():v.upper() for k,v in fruits.items()}
clean_fruits

{'apple': 'YELLOW',
 'cherry': 'RED',
 'orange': 'ORANGE',
 'date': 'BROWN',
 'almond': 'BROWN',
 'cashew': 'WHITE'}

In [48]:
avg_temp={city : sum(values) for city,values in temp.items()}
avg_temp

{'lucknow': 90, 'delhi': 105, 'chennai': 69}