programming flow
 - conditinal flow
    - if else
    - if else else
    - match case
- iterative flow
     - for loop
     - while loop

In [38]:
x='hello'
if len(x)  >= 5 :
    print('helo everyone')

helo everyone

In [39]:
a=int(input('Enter a no.'))
if a*2>100:
    print(' a*2 is greater than 100')
if a+50 > 100:
    print('a+50 is greater than 100')

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a=int(input('Enter a no.'))
if a%2 ==0:
    print(' even')
else:
    print('odd')

odd

wap to find the total salary of the employee bsaed on the following criteria
hra= 5%
da =3.3%
ta=2.61%
 
 total=salary +da+ ta +hra

 *rule*
  
 if hra is less than 1000 then don't add hra to total

In [ ]:
salary=int(input('ENTER THE SALARY'))
hra= salary*0.05
da=salary*0.033
ta=0.0261*salary
if hra<1000 :
    total=salary+da+ta
else :
      total=salary+da+ta+hra
print("THE TOTAL SALARY IS = %.2f"%(total))

THE TOTAL SALARY IS = 63856.43

In [ ]:

num_str=input('enter movie rating')
if num_str.isnumeric():
    num=int(num_str)
    if num==1:
        print('(⭐TERRIBLE)')
    elif num==2:
        print('⭐⭐bad')
    elif num==3:
        print('⭐⭐⭐average')
    elif num==4:
        print('⭐⭐⭐⭐good')
    elif num==5:
        print('⭐⭐⭐⭐⭐ excellent')
    else :
        print('invalid rating')
else:
    print("Rating not accepted in anything except no.")

Rating not accepted in anything except no.

In [ ]:
 # Match case - use this to match multiple values
day= (input('Enter a day of the week')).upper()
match day:
    case 'MONDAY'|'TUESDAY'|'WEDNESDAY':
        print('Data science and data analysis class')
    case 'THURSDAY':
        print('class off')
    case 'SUNDAY':
        print('WeEkEnd')
    case 'TUESDAY':
        print('Stay at home')
    case _: #default case
         print('Invalid day ')

Invalid day

# SINGLE LINE CONDITIONS

In [ ]:
x=int(input('enter a number'))
"above100" if x>100 else print ("below 100 ")

'above100'

#### for loop
- step based
for var in iterable:
  statement ___

#### while loop
- condition based

In [ ]:
for v in 'krish':
    print(v)

k
r
i
s
h

In [ ]:
colours=['red','green','blue']
for i in colours:
    print (i)

red
green
blue

In [ ]:
# index and value
for i,v in enumerate(colours):
     print(i,v)

0 red
1 green
2 blue

In [ ]:
nmlist={56,53,35,3,535,3,5,3}
for num in nmlist:
     print(f'{num:<5} => {num*10}')

35    => 350
3     => 30
5     => 50
53    => 530
535   => 5350
56    => 560

In [37]:

for i in range(1,12): #  range(a,b,c)  starts with a update of c
    print(f'{13}*{i}={num*i}')

13*1=56
13*2=112
13*3=168
13*4=224
13*5=280
13*6=336
13*7=392
13*8=448
13*9=504
13*10=560
13*11=616

In [46]:
for i in range(1,101,2):
 print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [43]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

- nested
- break and continue
- for- else

In [8]:
for i in range(1,11):
    for j in range(1,4):
        print(i,j,end=",")
    print()

1 1,1 2,1 3,
2 1,2 2,2 3,
3 1,3 2,3 3,
4 1,4 2,4 3,
5 1,5 2,5 3,
6 1,6 2,6 3,
7 1,7 2,7 3,
8 1,8 2,8 3,
9 1,9 2,9 3,
10 1,10 2,10 3,

In [11]:
cdata=[[1,'John',23],
       [2,'papa',25],
       [3,'wendy',747,'waiter']]
for row in cdata:
    for item in row:
        print(item,end="    ")
    print()

1    John    23
2    papa    25
3    wendy    747    waiter

In [27]:
more_data=[
    [[12,45,67],[23,43,44],[35,35,352]],
    [[23,24,24],[24,442,24]],
]

for i in more_data:
    for j in i:
        for k in j:
            print(k,end=" ")
        print()
    print()

12 45 67
23 43 44
35 35 352

23 24 24
24 442 24

In [3]:
x=[1,3,13,42,52,2,5,53,53,53,53]
for i in x:
     if i<0:
       break
     print(i)
print('loop executed')

1
3
13
42
52
2
5
53
53
53
53
loop executed

In [45]:
data_with_crap=[1,2,3,4,5,6,'3','35',7,8,33,'53']
for i in data_with_crap:
    if isinstance(i,str):
        continue
    print(i,end=' ')

print()
############### alternative ###########
print('alternate nos.')
for i in data_with_crap:
    if isinstance(i,int):
      print(i,end=' ')

1 2 3 4 5 6 7 8 33
alternate nos.
1 2 3 4 5 6 7 8 33

In [51]:
# adding  a check for loop completion
data=[1,2,3,4,5,6,7,8,9]
stop_val=int(input('enter the end value'))
counter =0
for i in data:
    if stop_val==i:
        print(f"loop stopped at : {i}")
        break
    print(i)
else:
    print("loop completed all steps")

1
2
3
4
5
6
loop stopped at : 7

while loop

In [1]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [9]:
# sum of all digits
num=int(input("enter a no."))
sum1=0

n=num
while(n!=0) :
    sum1=sum1+n%10
    n//=10
print(sum)

30

In [10]:
print=('hi')
sum=20
del sum # delete thhe variable sum since it is already a method
del print # delete thhe variable print since it is already a method