In [6]:
emptylist=[]
condition='y'
while condition=='y' :
    s=input("what do you want to append to the list? : ")
    emptylist.append(s)
    condition=input("to continue press y")

print(emptylist)

['hello']
['hello', 'krish']
['hello', 'krish', 'how']
['hello', 'krish', 'how', 'have']
['hello', 'krish', 'how', 'have', 'you']
['hello', 'krish', 'how', 'have', 'you', 'been?']

In [15]:
numlist=[533,53535,4,353,53,5432,2,6,4,53,0]
find1=int(input("enter the no. you want to find"))
for i in numlist:
    if find1==i :
        print(f"the no. is found in the list at pos:{numlist.index(find1)+1}")
        break

In [1]:
stringlist=['dancing','singing','playing','boxing','helpme']
mystring=[]
for i in stringlist:
    if i.find('ing')==-1:
       mystring.append(i)
    
print(mystring)

['helpme']

In [33]:
nestedlist=[stringlist,numlist,emptylist]
print(nestedlist)
nestedlist[0][1]

[['dancing', 'singing', 'playing', 'boxing', 'helpme'], [533, 53535, 4, 353, 53, 5432, 2, 6, 4, 53, 0], ['hello', 'krish', 'how', 'have', 'you', 'been?']]

'singing'

In [2]:
import time
st=time.time()

duplicate=[1,1,1,1,1,2,2,2,3,7,3,3,4,4,5,5,56,6,6,6]
unique=[]
for i in duplicate:
  
  while i not in unique:
    unique.append(i)
print(unique)
et=time.time()

print(f"net time {et-st:.15f}")

[1, 2, 3, 7, 4, 5, 56, 6]
net time 0.000000000000000

In [8]:
duplicate.reverse()
print(duplicate)

[6, 6, 6, 56, 5, 5, 4, 4, 3, 3, 7, 3, 2, 2, 2, 1, 1, 1, 1, 1]

In [2]:
d=[]
lst=[]
d[:]="hello"
print(d)
lst.extend("hello")
print(lst)
x=list("stri1ng")
print(x)
print([*"unpack"]) # * unpack operator
x[0].isalpha()
print(x.pop())
print (x)

['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']
['s', 't', 'r', 'i', '1', 'n', 'g']
['u', 'n', 'p', 'a', 'c', 'k']
g
['s', 't', 'r', 'i', '1', 'n']

In [83]:
'''Example input: [1, 2, 3], [4, 5, 6]
Example output: [[1, 4], [2, 5], [3, 6]]'''
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]
ab=[]
list1=[]
list2=[]
for i in range(len(a)):
   for j in range(0,3):
      ''' ab[i].append(a[i])
       ab[i].append(b[i])'''
      if j==0:
          list1.append(a[i])
      elif j==1:
          list1.append(b[i])    
      else :
          list1.append(c[i])

      print(ab)
      list2=list1.copy()
   ab.append(list2)
   list1.clear()
    
        
print(ab)

[]
[]
[]
[[1, 4, 7]]
[[1, 4, 7]]
[[1, 4, 7]]
[[1, 4, 7], [2, 5, 8]]
[[1, 4, 7], [2, 5, 8]]
[[1, 4, 7], [2, 5, 8]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [90]:
'''Example input: ['apple', 'banana', 'cherry']
Example output: [['a', 'p', 'l', 'e'], ['b', 'a', 'n'], ['c', 'h', 'e', 'r', 'y']]'''
fruits=['apple', 'banana', 'cherry']
newfruits=[]
for i in fruits:
    newfruits.append(list(set(i)))
newfruits

[['l', 'e', 'p', 'a'], ['b', 'n', 'a'], ['e', 'y', 'h', 'c', 'r']]

In [7]:
def reverse_list(a:list):
    a= a[::-1]
    print(a)
reverse_list([1,2,3,4,5,6,7,8,9])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# list
- creating
- indexing n sliccing
- methods
- comprehension

In [1]:
a=[]
b=[1,2,3,4]
c=['apple','banana','cherry']
d=['apple',1,'banana',2,'cherry',3]
e=[[1,2,3],[4,5,6],[7,8,9]]
f=[['apple,1'],['banana',2],['cherry',3]]
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple,1'], ['banana', 2], ['cherry', 3]]

In [2]:
g=list('hello')
h=list(range(10))
i=list((1,2,3,4,5))
j=[1,2,3]*5
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
movies=['godfather','godfather2','inventing the abotts','american pie: naked mile','fall guy']
print(movies)
print(len(movies))
print("firdt movie",movies[0])
print("second movie",movies[1])
print("last movie",movies[-1])

['godfather', 'godfather2', 'inventing the abotts', 'american pie: naked mile', 'fall guy']
5
firdt movie godfather
second movie godfather2
last movie fall guy

In [11]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:-2])
print(numbers[:3])
print(numbers[::-1])
print(numbers[-3:])

[3, 4, 5, 6, 7, 8]
[1, 2, 3]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[8, 9, 10]

## list methods(11)
- adding/updating
    - `append`
    - `extend`
    - `insert`
- removing/deleting
    - `remove()`
    - `pop()`
    - `clear()`
- utility
    - `sort()`
    - `reverse()`
    - `index()`
    - `count()`
    - `copy()`

In [12]:
fav_books=[]
hated_books=[]
for i in range(5):
    book=input("Enter your favourite book")
    fav_books.append(book)
for i in range(3):
      book=input("Enter your hated book")
      hated_books.append(book)
print("favourite books :",fav_books)
print("hated books: ",hated_books)

favourite books : ['dune', 'dune2:the messiah', 'dune3:the closure', 'go4ng', 'ogneong']
hated books:  ['gegg', 'trgrg', 'rhr']

In [17]:
books=fav_books+hated_books
books.extend(['50 shades of grey','50shades of freed'.])
books

['dune',
 'dune2:the messiah',
 'dune3:the closure',
 'go4ng',
 'ogneong',
 'gegg',
 'trgrg',
 'rhr',
 '50 shades of grey',
 '50shades of freed']

In [19]:
books.insert(2,'perksof beinng a wallflower')
books

['dune',
 'dune2:the messiah',
 'perksof beinng a wallflower',
 'dune3:the closure',
 'go4ng',
 'ogneong',
 'gegg',
 'trgrg',
 'rhr',
 '50 shades of grey',
 '50shades of freed']

In [25]:
books.remove('rhr')
books

ValueError: list.remove(x): x not in list

In [27]:
books.pop(6)

'trgrg'

In [28]:
hated_books.clear()
hated_books

[]

#### wap to create an empty list , then fill the list with 10 prime nos. using a loop,starting with 2

In [10]:
prime=[]
c=0
p=2
k=0
while c<10:
    k=0
    for i in range(1,p):
        if p%i==0:
            k+=1
      
    if k==1:
        c+=1
        prime.append(p) 
        print(c)    
    p+=1
print(prime)

1
2
3
4
5
6
7
8
9
10
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [28]:
a=[0]
a=[[a[0]]*3]*5
a[0][0]=1
print(a)

[[1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0]]

In [29]:
x = [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0,  0]]
x[0][0] = 2
print(x)

[[2, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [42]:
import time
x=[1,3,2,5]
st=time.perf_counter()
x2=list(map(lambda a:a**2,x))
x2
et=time.perf_counter()
print(et-st)

0.00010969999129883945

## comprehension

   - syntax

       - new_list=[operation loop(condition)]

In [43]:
import time
st=time.perf_counter()
x2=[i**2 for i in x]
x2
et=time.perf_counter()
print(et-st)

0.00011100000119768083

In [2]:
a=[1,2,3,4,5]
a3=[i-5 for i in a]
print(a3)
aven2=[i**2 for i in a if i%2==0]
print(aven2)
aodd2=list(map(lambda i: i**2, filter(lambda i: i%2!=0,a)))
aodd2

[-4, -3, -2, -1, 0]
[4, 16]

[1, 9, 25]

In [1]:
names=['Alice Smith hello','Bob Brown','Charlie Green']
initials=[]
[print(f('{i[0]} i[i.find(' ')+1]') for i in names)]

<generator object <genexpr> at 0x0000021F1AAB2190>

[None]

In [9]:
triangle = [[2],[3,4],[6,5,7],[4,1,8,3]]
triangle[::-1]
dp=[0]*(len(triangle)+1)
for row in triangle[::-1]:
    for i,n in enumerate(row):
            
            dp[i]=n+min(dp[i],dp[i+1])
            print(dp)
print(dp)

[4, 0, 0, 0, 0]
[4, 1, 0, 0, 0]
[4, 1, 8, 0, 0]
[4, 1, 8, 3, 0]
[7, 1, 8, 3, 0]
[7, 6, 8, 3, 0]
[7, 6, 10, 3, 0]
[9, 6, 10, 3, 0]
[9, 10, 10, 3, 0]
[11, 10, 10, 3, 0]
[11, 10, 10, 3, 0]

In [3]:
a.index(2)

1

In [43]:
def removeDuplicates(nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        i=0
        j=0
        length=len(nums)
        while j<=length:
           for i in range(length):
              if i<length-1:
                if nums[i]==nums[i+1]:
                  nums.remove(nums[i])
                  length=len(nums)
           j+=1
        print(length)
          
                
removeDuplicates([0,0,0,0,0])

1

In [50]:
num=[1,1,2]
num=list(set(num))
num.copy()
print(num)

[1, 2]

In [27]:
import math
x=10
x=bin(10)
y=bin(4)
x,y
math.pow(2,5)

32.0

In [36]:
a=2
b=10

x=format(a,'b').zfill(b)
None?

x

'0000000010'

Type:        NoneType
String form: None
Namespace:   Python builtin
Docstring:   <no docstring>